
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background-color: #393939;
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}



.add-task {
    border: 2px solid #FFD65B;
    width: 85%;
    height: 10%;
    display: flex;
    margin: 1rem auto 0 auto;
    align-items: center;
    border-radius: 25rem;
    padding: 0.5% 3%;
    justify-content: space-between;
}

.title-task {
    margin: 0 0;
    font-size: 1.1rem;
}

.title-div {
    width: 70%;
    word-wrap: break-word;
    text-align: left;
}

.done {
    border: 2px solid #00FF7F;
}

.color-desc {
    display: flex;
    justify-content: space-around;
}

.paragraph-desc {
    font-size: 1.01rem;
}

.ball {
    width: 26px;
    height: 6px;
    border-radius: 20%;
    margin-right: 10px;
    margin-bottom: 14px;
}

.flex-display {
    display: flex;
    align-items: center;
}

.yellow {
    background-color: #FFD65B;
}

.red {
    background-color: red;
}

.green {
    background-color: #00FF7F;
}


.create-new-task {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    border: 2px solid #00FF7F;
    margin: 0 auto;
}

.non-bg {
    background-color: transparent;
    border: 1px solid white;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    color: white;
    width: 100%;
}

.remove-display {
    display: flex;
}

.window-remove {
    display: none;
}

.btn-align{
   text-align: center;
   margin-top: 2rem;
}

.window {
    position: absolute;
    background-color: #36454f;
    border-radius: 20px;
    padding: 5%;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.window-title {
    font-size: 1.3rem;
}

.window-buttons {
    margin-top: 20%;
    display: flex;
    justify-content: space-evenly;
}

.background-black {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    overflow: auto;
}

@media (max-width: 550px) {
    .add-task {
        padding: 0 2rem;
    }

    .title-div {
        width: 60%;
        word-wrap: break-word;
        text-align: left;
    }

    .title-task {
        margin: 0 0;
        font-size: 1rem;
    }
}

@media (max-width: 460px) {
    .add-task {
        padding: 0 1rem;
    }

    .title-div {
        width: 55%;
        word-wrap: break-word;
        text-align: left;
    }

    .title-task {
        margin: 0 0;
        font-size: 1rem;
    }
}

@media (max-width: 380px) {
    .add-task {
        padding: 0 1rem;
    }

    .title-div {
        width: 50%;
        word-wrap: break-word;
        text-align: left;
    }

    .title-task {
        margin: 0 0;
        font-size: 0.9rem;
    }
}