@model TaskModel
@{
    ViewData["Title"] = "Criar Taks";
}

<h3 class="text-center mt-4">Digite o título da sua tarefa</h3>
<div class="mt-5">
    <form asp-action="CreateTask" method="post" asp-controller="Home">
        <div class="add-task js-cancel">
            <div class="title-div">
                <input type="text" maxlength="64" class="non-bg" asp-for="Task" id="exampleInputTask" />
            </div>
            <div>
                <a class="btn btn-outline-danger cancel text-light" asp-controller="Home" asp-action="Index"><i class="fa fa-x"></i></a>
            </div>
        </div>
        <input type="text" class="js-add-task" value="Pendente" asp-for="Status" />
        <div class="btn-align">
            <button type="submit" role="button" class="btn btn-outline-info text-light btn-align">Confirmar</button>
        </div>
    </form>
</div>